.header {
  background-color: skyblue;
  padding: 10px auto;
  margin: auto;
  text-align: center;
}

.navContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 10px; 
}

.navLink {
  color: blue;
  text-decoration: none;
  font-size: 24px; 
  font-weight: bold;
}

.navLink:hover {
  color: darkblue;
  text-decoration: underline;
}
